* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* Rectangle 1 */

  position: absolute;
  width: 604px;
  height: 302px;
  left: 272px;
  top: 293px;

  background: linear-gradient(235.01deg, #ff26b7 -6.87%, #342eef 101.24%);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.jméno {
  color: rgb(255, 255, 255);
  padding: 20px;
  height: 75%;
}

.info ul {
  color: rgb(255, 255, 255);
  list-style: none;
  padding: 20px;
  width: 70%;
}
